<label for="Name" class="form-group">Title</label>
<input type="text" class="form-control" name="title" value="<%=book.title%>">
<label for="author">Author</label>
<select name="" id="">
<%%>

</select>