<label for="Name" class="form-group">Title</label>
<input type="text" class="form-control" name="title" value="<%=book.title%>">
<label for="author">Author</label>
<select name="" id="">
    <%authors.forEach(author =>{%>
<%%if(book.author){>
<optio selected label="<%author.id%>" value="<%author.id%>">
<%}else{>
<option selected label="<%author.id%>" value="<%author.id%>">
    <%}%>
<%})%>
</select>