<h3>New Books</h3>
<form action="/books" method="POST" class="form" enctype="multipart/form-data">
    <div class="form-group">
        <%-include ('_formfields')%>

    </div>
    <a class="btn btn-danger outlined" href="/books">Cancel</a>
    <button class="btn btn-info">Create</button>
</form>