<h3>New Books</h3>
<form action="/books" method="POST" class="form">
    <div class="form-group">
        <%-include ('book_formfields')%>

    </div>
    <a class="btn btn-danger" href="/books">Cancel</a>
    <button class="btn btn-info">Create</button>
</form>