
    <h2>Search Authors</h2>
    <form action="/authors" method="gET">
    <label for="Name">Name</label>
    <input type="text" name="name">
    <button type=""submit>Submit</button>
</form>
<br />
<%authors.forEach(author =>{%>
    <div><%= author.name %></div>
    <%})%>