
    <h2>Search Authors</h2>
    <form action="/authors" method="GET">
    <label for="Name">Name</label>
    <input type="text" name="name" value="<%= searchoptions.name%>">
    <button type="submit">Submit</button>
</form>
<br />
