
    <h3>New Authors</h3>
<form action="/authors" method="POST" class="form">
<div class="form-group">
  <%-include ('_formfields')%>

</div>
<a class="btn btn-danger" href="/authors">Cancel</a>
<button class="btn btn-info">Create</button>
</form>