
    <h1>New Authors</h1>
<form action="/authors" method="POST">
<div class="input-group">
    <label for="Name" class="form-group">
        <input type="text" name="author" >
    </label>
</div>
<a href="/authors">Cancel</a>
<button>Create</button>
</form>